.accordion {
    width: 100%;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion__item {
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 1.5rem;
}

.accordion__item:nth-child(1) {
    border-top: 1px solid black;
}

.accordion__icon {
    transition: all 0.3s ease-in-out;
}

.accordion__item--open .accordion__icon {
    transform: scaleY(-1);
}

.accordion__contents {
    max-height: 0;
    margin-top: 0;
    overflow: hidden;

    transition: all 0.3s ease-in-out;
}

.accordion__item--open .accordion__contents {
    max-height: 200px;
    margin-top: 1.5rem;
}